In [ ]:
def print_student(student_name):
 marks = {'Andy' : 88,  'Amy' : 66,'James': 90, 'Jules': 55, 'Arthur': 77 }
for student in marks:
  if student == student_name:
    print(marks[student]) 
    break 
else: 
  print("cannot find this students name")
  student_name='Jules'
  print_student('Jules')

55

In [39]:
def marks_average(num):
    sum_num = 0
    for i in num:
        sum_num = sum_num + i           

    avg = sum_num / len(num)
    return avg

print(marks_average([88,66,90,55,77]))

75.2

In [27]:
def less_greater(num): 
  n=0
  while n<=num:
    print(n)
    n+=1
  else:
    print("greater than",num)
less_greater(8)
def modify_elements(items):
  for i in range(len(items)):
    items[i]*=2
numbers=[1,2,3,4,5,6,7,8]
modify_elements(numbers)
numbers

0
1
2
3
4
5
6
7
8
greater than 8

[2, 4, 6, 8, 10, 12, 14, 16]

In [5]:
def sum(n):
 n=20
sum=0
i=1
while i<=20:
  sum=sum+i
  i=i+1
  print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210

In [38]:
def range_sum(num): 
  sum=0 
  for n in range (num):
    sum=sum+n
    print(sum)
range_sum(25)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300

In [48]:
def sum(n):
 n=30
sum=0
i=1
while i<=30:
  sum=sum+i
  i=i+1
  print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465

In [46]:
import numpy as np
def mean(data):
  n = len(data)
  mean = sum(data) / n
  return mean
def variance(data):
  n = len(data)
  mean = sum(data) / n
  deviations = [(x - mean) ** 2 for x in data]
  variance = sum(deviations) / n
  return variance
def stdev(data):
  import math
  var = variance(data)
  std_dev = math.sqrt(var)
  return std_dev

data = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30])
print((stdev(data)))
print((mean(data)))

8.65544144839919
15.5

In [19]:
def average(*args): 
  return sum(args)/len(args)
  average(1,100)
  print_average(sum)

In [10]:
def sdt(num):
  sdt(1,100)
  print(1,100)

In [ ]:
def min( v1, v2, v3,v4): 
  min=v1 
  if v2<min: 
    min=v2 
  if v3<min: 
    min=v3
  if v4<min:
    min=v4
  return min  
min(62,90,84,77)

62

In [ ]:
list1=[20,30,40]
list2=[60,80,100]
list3=[5,10,15]
concatenated_list= list1+ list2+ list3
concatenated_list

[20, 30, 40, 60, 80, 100, 5, 10, 15]